<nav
  class="navbar fixed-top navbar-expand-sm navbar-dark justify-content-center align-items-start"
  style="background-color: #d69970"
>
  <button
    class="navbar-toggler mr-auto"
    type="button"
    data-toggle="collapse"
    data-target="#navbar"
  >
    <span class="navbar-toggler-icon"></span>
  </button>
  <span class="navbar-brand position-absolute mx-0 font-weight-bold"
    >DOG BREED PHOTO FINDER</span
  >
  <div class="navbar-collapse collapse" id="navbar">
    <ul class="navbar-nav justify-content-center">
      <li class="nav-item">
        <a class="nav-link" href="/">Home</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/breedslist">Breeds List</a>
      </li>
    </ul>
  </div>
</nav>
